
h1{
color:gray;
font-size:2em;
font-family:courier;
text-align:center;
background-color:011100;
}
p{
color:101100;
font-size:1.5em;
font-family:arial;
text-align:justify;
}
body{
background-color:pink;

}
